nav {
  margin-bottom: 20px;
}
.time {
  position: absolute;
  font-size: 18px;
  right: 10px;
}
.title {
  font-size: 20px;
}

#itemlist li {
  background-color: #eceff1;
}
#itemlist li:hover {
  color: #37474f;
  background-color: #cfd8dc;
}
.done {
  text-decoration: line-through;
  color: #37474f;
}
